#dialog-options input[type="radio"] + label {
	vertical-align: top;
}

#dialog-options #uiscale-slider {
    width: 75%;
    float: right;
    margin-right: 10px;
    margin-top: 3px;
}

#dialog-options input[type="text"], #dialog-options input[type="password"], #dialog-options select { width: 75% }

#dialog-options label[for=uiscale-slider] {
    padding: 0 8px;
}

#dialog-editMask label {
	width: 100%;
	margin-left: -5px;
}

#dialog-EVEsearch #EVESearchResults {
	max-height: 320px;
	overflow: auto;
	padding-left: 5px;
    padding-right: 10px;
}

#EVESearchResults label {
	width: 100%;
	margin-left: -5px;
	opacity: 1;
}

.optionsTable {
	color: #444;
	border-collapse: collapse;
}

.optionsTable th {
	text-align: left;
}

.optionsTable td {
	text-align: right;
}

tr.line td, tr.line th {
	border-bottom: 1px solid #555;
}

.optionsTable tr {
	height: 2em;
}

.ui-accordion .ui-accordion-content {
	padding: 0.5em;
	background: none;
}

.ui-accordion .ui-accordion-header:focus {
	outline: none;
}

#masks {
	text-align: left;
	padding-left: 10px;
}

div.maskCategory {
	min-height: 80px;
	position: relative;
}

div.maskCategoryLabel {
	position: absolute;
	top: 80px;
	left: -12px;
	width: 80px;
	text-align: center;
	font-weight: bold;

	-ms-transform: rotate(-90deg);
	-webkit-transform: rotate(-90deg);
	transform: rotate(-90deg);

	-ms-transform-origin: left top 0;
	-webkit-transform-origin: left top 0;
	transform-origin: left top 0;
}
